<!doctype html>
<html>
  <head>
    <title>ProjectIvy</title>
    <link href='/bootstrap/css/bootstrap.min.css' rel="stylesheet">
    <script src='/bootstrap/js/bootstrap.js'></script>
	<script src='jquery.js'></script>
	<script src='react-dom.min.js'></script>
	<script src='react-with-addons.min.js'></script>
	<script src='browser.min.js'></script>
	<script src='remarkable.min.js'></script>
  </head>
  <body>

    <div id="content"></div>
	<script type="text/babel" src="main.js"></script>
	
  </body>
</html>
